/* HEADER */
.headerDivGrande {
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: #082031;
}

/* MODAL */
.firstIsModalOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.secondIsModalOpen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 90%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divImagemModal {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemModal {
    width: 45%;
    height: 90%;
    border-radius: 100%;
    border: solid 7px #E3A74F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttonDentroImagemModal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 100%;
    background-color: rgba(2, 2, 49, 0.7);
    cursor: pointer;
}

.divTodoInputs {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divEsquerdaInputs {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.divDireitaInputs {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divButtonDescartarESalvar {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonDescartarInfos {
    width: 47%;
    height: 70%;
    background-color: white;
    border: 2px solid #082031;
    color: #082031;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.buttonDescartarInfos {
    width: 47%;
    height: 70%;
    background-color: white;
    border: 2px solid #082031;
    color: #082031;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}



.buttonSalvarInfos {
    width: 47%;
    height: 70%;
    background-color: #082031;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

/* HEADER CONTEÚDO */
/* DIV BOTAO SAIR */
.divTodoBotaoSair {
    width: 10%;
    display: flex;
    height: 100%;
    justify-content: center;
}

.divParaOBotao {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoSair {
    display: flex;
    width: 80%;
    height: 60%;
    border: none;
    background-color: #082031;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divConteudoDentroBotao {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.textoSair {
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* DIV IMAGEM REDONDA */
.divTodoImagem {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divImagem {
    width: 75%;
    height: 70%;
    border-radius: 100%;
    border: solid 7px #E3A74F;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DIV INFORMAÇÕES USUARIO */

.divTodoInformacoes {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divInformacoesConteudo {
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divBemVindo {
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
}

.divBemVindoConteudo {
    width: 85%;
}

.divBotaoEditar {
    width: 15%;
    height: 100%;
}

.botaoEditar {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #082031;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.divContato {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.divTextContato {
    width: 100%;
    height: 25%;
    font-size: 15px;
    font-weight: bold;
}

.divTelefoneEEmail {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.divInfoConteudo {
    width: 100%;
    height: 100%;
    color: #E3A74F;
}

.divEndereco {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.divTextEndereco {
    width: 100%;
    height: 25%;
    font-size: 15px;
    font-weight: bold;
}

.divConteudoEndereco {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.divConteudoEnderecoTexto {
    width: 100%;
    height: 100%;
    color: #E3A74F;
    display: flex;
    align-items: center;
}

/* DIV SEPARACAO */
.divSeparacao {
    width: 22%;
}

/* DIV BOTÃO TROCA DE AMBIENTE */
.divTodoTrocaAmbiente {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.divConteudoTrocaAmbiente {
    width: 100%;
    height: 15%;
}

.botaoTrocaAmbiente {
    width: 150%;
    height: 100%;
    border: none;
    background-color: #E3A74F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #F4F3EE;
    font-weight: 400;
}

.validacaoAmbiente{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

#perfil{
    background-color: #e3a84f9b;
}

.botaoPossuiBarbearia {
    width: 150%;
    height: 100%;
    border: none;
    background-color: #E3A74F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #F4F3EE;
    font-weight: 400;
}