.buscarBarbearias {
    display: flex;
}

.containerBuscarBarbearias {
    width: 90%;
    margin: auto;
}

.conteudoBuscarBarbearias {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0;
}

.header {
    background-color: #082031;
    padding: 1% 0;
}

.CardsBarbeariaEncontrada {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0 5% 0;
    gap: 50px;
}

.nenhumaBarbeariaEncontrada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
