.cardDashboards {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 32px;
}

.dashboardToda{
    margin-left: 15vw;
}

.containerDashboard {
    width: 100%;
}

.containerReserva {
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.conteudoReserva {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.spanReservas {
    color: #082031;
    font-size: 25px;
    margin: 2.5% 0;
}

.linhasReservas {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 2.5%;
    max-height: 350px;
    overflow-y: auto;
    width: 100%;
}

.indicadores {
    margin-top: 2.5%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2.5%;
}

.graficos {
    display: flex;
    flex-direction: column;
    width: 47.5%;
}

.graficoLinhaConteudo{
    border: 1px solid #CBD5E0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5%;
    margin-left: 16px;
    background-color: #082031;
}

.titulosGraficoLinha {
    height: 50px;
    align-items: center;
    display: flex;
    color: #082031;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    font-size: 18px;
}

.graficoLinha {

    border-radius: 10px;
    height: 300px;
}

.selectBox{
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    color: #E3A74F;
    border: 0px;
    background-color: #082031;
}

/*
.contentamentoConteudo{
    background-color: #082031;
    margin-top: 7.5%;
    border-radius: 15px;
}

.tituloContentamento{
    color: white;
    font-size: 18px;
    margin: 5%;
}

.porcentagemContentamento{
    display: flex;
    justify-content: center;
    width: 100%;
}

.progressBar{
    width: 50%;
    margin-bottom: -15%;
}
*/

.melhoresAvaliacoes{
    border: 1px solid #CBD5E0;
    width: 47.5%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-right: 16px;
    background-color: #082031;
}

.containerAvaliacoes{
    width: 90%;
    margin: 0 auto;
}

.tituloAvaliacoes{
    color: #E3A74F;
    font-size: 18px;
    font-weight: 600;
}

.conteudoAvaliacoes{
    margin-top: 5%;
}

.linhasAvaliacoes{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 20px;
    max-height: 260px;
    overflow-y: auto;
    padding-right: 5%;
}
