.hoverTrocaTelas {
  display: flex;
  width: 100%;
  height: 7vh;
  justify-content: center;
  align-items: flex-end;
}

.utilHoverTrocaTelas {
  width: 55%;
  display: flex;
  justify-content: center;
  gap: 35px;
  color: #082031;
  font-weight: 700;
  font-size: 24;

}

.opcoesTelas {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.opcoesTelas span {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  display: inline-block;
}

.opcoesTelas::after {
  content: '';
  position: absolute;
  left: 18%;
  bottom: -8px;
  width: 64%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.opcoesTelas.active::after,
.opcoesTelas:hover::after {
  background-color: #E3A74F;
}

.opcoesTelas.active {
  transform: translateY(-4px);
}

.opcoesTelas span:hover {
  transform: translateY(-5px);
}

.opcoesTelas span:hover ~ ::after {
  background-color: #E3A74F;
}

.opcoesTelas:hover span {
  transform: translateY(-5px);  
}