.hoverTrocaTelas {
  display: flex;
  width: 100%;
  height: 7vh;
  justify-content: center;
  align-items: flex-end;
}

.utilHoverTrocaTelas {
  width: 55%;
  display: flex;
  justify-content: space-between;
  color: #082031;
  font-weight: 500;
  font-size: 24;

}

.opcoesTelas {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.opcoesTelas span {
  position: relative;
  z-index: 1;
  /* Coloca o texto acima da linha */
}

.opcoesTelas::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.opcoesTelas:hover::after {
  background-color: #E3A74F;
}

.opcoesTelas:hover span {
  transform: translateY(-5px);
}