.container-agendamentos {
  margin-top: 50px;
  margin-left: 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); /* 40% da largura do contêiner mínimo e o restante do espaço disponível */
  grid-gap: 15px; /* Espaçamento entre as colunas */
  justify-content: center; /* Centraliza as colunas horizontalmente */
}

@media (max-width: 768px) {
  .container-agendamentos {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 10px; /* Reduzindo o espaçamento entre as colunas */
  }
}

.content-animation {
  transition: transform 0.3s ease;
  width: 100%;
}

.content-animation > div {
  display: flex;
  flex-wrap: wrap;
}

.container-meus-cortes {
  width: 100%;
  transform: translateX(100%);
}
