.cardsAgendamento{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F4F3EE;
  padding-top: 1%;
}

.conteudoCardsAgendamento{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
}
