.conteudo{
    display: flex;
    margin-left: 15vw;
    height: 100vh;
    flex-direction: column;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
}

.inativos {
    font-weight: bold;
    color: #666666;
}
