.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    width: 80%;
}

.inativos {
    font-weight: bold;
    color: #666666;
}