.bordaInformacoesAdicionais {
    display: flex;
    border: 1px solid #082031;
    border-radius: 30px;
    padding: 32px;
    margin: 16px;
}

.ContainerInformacoesAdicionais {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 32px;
}

.ContainerDiasHorarios {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.botaoFecharDia,
.botaoDefinirHorario {
    height: 50px;
    width: 200;
}

